node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
/server/config/local.env.js
newrelic_agent.log
client/app/app.css
lib
.DS_Store
dist
dump.rdb
.bower-registry
.bower-tmp
.bower-cache
deploy_stage
deploy_prod
.xlsx
/server/reports/Files
